/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --font-color-white: rgb(255, 255, 255);
    --font-color-gray: rgb(205 205 205);
    --font-color-alive: rgb(0 255 255);
    --font-color-dead: rgb(195 0 0);
    --font-color-negro: rgb(0, 0, 0);
    --font-avalith-rojo: rgba(230,30,61);

    --background-semi-oscuro: rgba(0, 0, 0,0.5);
    --background-oscuo: rgb(26, 26, 26);
    --background-oscuo-transparencia: rgb(0, 0, 0, 0.80);
    --background-blanco: rgb(255, 255, 255);
    --background-unknown: rgb(74 125 161 / 50%);
    --background-alive: rgb(0 179 156 / 50%);
    --background-dead: rgb(255 94 94);
    --background-semi-gris: rgb(128 128 128 / 50%);
    
    --poppins: 'Poppins',sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}